body {
  background-image: linear-gradient(to right, #decba4, #3e5151);
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fetchButton {
  background-color: #e58218;
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#dataContainer {
  margin: 20px;
  background-color: wheat;
}
